In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

23/08/17 14:02:23 WARN Utils: Your hostname, Akshays-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 172.21.0.178 instead (on interface en0)
23/08/17 14:02:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/17 14:02:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/17 14:02:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/08/17 14:02:24 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
spark

In [12]:
## Read Dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv', inferSchema = True) ### InferSchema to Map var to actual Datatype

In [13]:
## Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [29]:
df_pyspark1 = spark.read.option('header','true').csv('test1.csv', inferSchema = True).show()
df_pyspark1

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Akshay| 29|        10|
| Sagar| 35|         8|
| Ashok| 34|         4|
+------+---+----------+

In [30]:
df_pyspark.head(3) ## Unlike pandas with head the output will come in list format

[Row(Name='Akshay', Age=29, Experience=10),
 Row(Name='Sagar', Age=35, Experience=8),
 Row(Name='Ashok', Age=34, Experience=4)]

In [31]:
df_pyspark.select('Name').show() ## using select keyword to select specific columns

+------+
|  Name|
+------+
|Akshay|
| Sagar|
| Ashok|
+------+

In [32]:
df_pyspark.select(['Name','Experience']).show() ## select multiple columns

+------+----------+
|  Name|Experience|
+------+----------+
|Akshay|        10|
| Sagar|         8|
| Ashok|         4|
+------+----------+

In [33]:
df_pyspark.describe().show() ## similar to pandas

+-------+------+------------------+-----------------+
|summary|  Name|               Age|       Experience|
+-------+------+------------------+-----------------+
|  count|     3|                 3|                3|
|   mean|  null|32.666666666666664|7.333333333333333|
| stddev|  null|3.2145502536643185|3.055050463303893|
|    min|Akshay|                29|                4|
|    max| Sagar|                35|               10|
+-------+------+------------------+-----------------+

In [34]:
## Adding Colmns in dataframe
df_spark2 = df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience']+2)

In [35]:
df_spark2.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience after 2 years|
+------+---+----------+------------------------+
|Akshay| 29|        10|                      12|
| Sagar| 35|         8|                      10|
| Ashok| 34|         4|                       6|
+------+---+----------+------------------------+

In [39]:
## Drop the columns
df_spark3= df_spark2.drop('Experience after 2 years')

In [40]:
df_spark3.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Akshay| 29|        10|
| Sagar| 35|         8|
| Ashok| 34|         4|
+------+---+----------+

In [38]:
## Rename the columns
df_spark3.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Akshay| 29|        10|
|   Sagar| 35|         8|
|   Ashok| 34|         4|
+--------+---+----------+