In [1]:
import pyspark

In [2]:
import findspark as fs
fs.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

23/08/17 13:22:14 WARN Utils: Your hostname, Akshays-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 172.21.0.178 instead (on interface en0)
23/08/17 13:22:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/17 13:22:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test.csv')

In [8]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|Akshay| 29|
| Sagar| 35|
| Ashok| 34|
+------+---+

In [36]:
# adding header by using option
df_spark1 = spark.read.option('header','true').csv('test.csv')

In [37]:
df_spark1.show()

+------+---+
|  Name|Age|
+------+---+
|Akshay| 29|
| Sagar| 35|
| Ashok| 34|
+------+---+

In [38]:
type(df_spark1)

pyspark.sql.dataframe.DataFrame

In [39]:
# printSchema to check column datatype
df_spark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [24]:
df_spark1.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Akshay| 29|        10|
| Sagar| 35|         8|
| Ashok| 34|         4|
+------+---+----------+